.outerbox{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featurebox{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.featurebox button{
    font-size: 20px;
    width: 50%;
    height: 10%;
}

.userbox{
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 30px;
}

.manageuserbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.manageuserbox button{
    font-size: 20px;
    width: 50%;
    height: 10%;    
}

.usertable{
    border-collapse: collapse;
    
}
.usertable td{
    padding: 10px;
}


.userdetailsbox{
    width: 70%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}

.colortxt{
    text-decoration: underline;
    color: blueviolet;
    cursor: pointer;
}

.inputbox{
    width: 70%;
    border: 1px solid green;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inputboxin{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputboxin input{
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    outline: none;
}