
.navbar{
  width: 100%;
  height: 10vh;
  background-color: rgb(2, 0, 0);
  position: fixed;
}
.contains{
  display: flex;
  flex-direction: row;
  padding: 1%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
  align-items:center;
  column-gap: 20px;
  font-size: 20px;
  color: white;
}
.navbar input{
  width: 400px;
  height: 30px;
}

.menu{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50px;
}
.menu:hover{
  background-color: rgb(50, 48, 48);
}
.search{
  align-items: center;
  padding-left: 10px;
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.search input{
  outline: none;
  border: none;
}
.sidebarstyle{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.sidebar {
  color: white;
  width: 20%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.list{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top: 10%;
  gap: 10px;
  color: rgb(255, 255, 255);
}


#sidebarhead{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:10% 20%;
  color: gold;
  justify-content: space-between;
  column-gap: 30px;
}
#sidebarhead p{
  font-size: 20px;
  
}
.slideDown {
  animation: slideDown 0.5s backwards;
}

@keyframes slideDown {
  0%   { left: -20%; }
  100% { left: 0%; }
}

.slideUp {
  animation: slideUp 0.3s backwards;
}

@keyframes slideUp {
  0%   { left: 0%; }
  100% { left: -20%; }
}

.blurbackground{
  width: 80%;
  height: 100vh;
  background-color: tan;
  position: relative;
}

.sliderightin{
  animation:  sliderightin 0.5s forwards;
}

@keyframes sliderightin {
  0% {right: -80%;}
  100% {right:0%}
}

.sliderightout{
  animation:  sliderightout 0.5s forwards;
}

@keyframes sliderightout {
  0% {right: 0%;}
  100% {right:-80%}
}

.blurbackground img{
  width: 100%;
  height: 100vh;

}

.dash{
  background: url("dashback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}
.dashtext{
  width: 80%;
  color: antiquewhite;
  margin: 17%;
  font-size:30px;
  font-weight: 800;
}
h2{
  color: yellow;
}

